<h1>Sign Up Below:</h1>
<form action='/registrations' method='POST'>

  <label for="name">Name</label><br>
  <input id="name" type="text" name="name" /><br>
  <label for="email">Email</label><br>
  <input id="email" type="text" name="email" /><br>
  <label for="password">Password</label><br>
  <input id="password" type="text" name="password" /><br>
<<<<<<< HEAD
  <input type="submit" value="Sign Up" id="submit">
=======
  <input type="submit" value="Submit" id="submit">
>>>>>>> 165466df3e929289cf04e06807ec89fc6ca95122
</form>